# Ignore output folder
/ref_outs

# Ignore job output and error files
*.[oe]*
__pycache__/
*.pyc

# LaTeX build artifacts
*.pdf
*.tex
*.png
*.txt
*.csv
*.pptx
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.synctex.gz
*.fls
*.fdb_latexmk
